/MaterialManagement/build/
/nbproject/private/
nbproject/private/
/build/
/dist/
MaterialManagement/nbproject/private/private.properties
MaterialManagement/nbproject/project.properties
MaterialManagement/nbproject/private/private.xml

